name: quickr

services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=dynamodb,sqs,lambda
      - DEBUG=1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - quickr-net


  lobby:
    build: ./lobby
    container_name: lobby
    image: lobby
    ports:
      - "${LOBBY_PORT:-8080}:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE:-dev}
    depends_on:
      - localstack
    networks:
      - quickr-net

  lambda-node:
    build: ./lambda-node
    container_name: lambda-node
    image: lambda-node
    environment:
      - AWS_ENDPOINT=http://localstack:4566
    depends_on:
      - localstack
      - lobby
    networks:
      - quickr-net

  game:
    build: ./game
    container_name: game
    image: game
    ports:
      - "${GAME_PORT:-8081}:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE:-dev}
    depends_on:
      - localstack
    networks:
      - quickr-net

  frontend:
    build: ./frontend
    container_name: frontend
    image: frontend
    ports:
      - "${FRONTEND_PORT:-5173}:80"
    environment:
      - NODE_ENV=production
    depends_on:
      - lobby
      - game
    networks:
      - quickr-net

networks:
  quickr-net:
    driver: bridge
