.quickr-panel {
  @apply border-4 border-dashed border-amber-600 rounded-lg 
         bg-transparent
         flex flex-col items-center justify-center;
}
/*shadow-[0_0_15px_rgba(255,191,0,0.2)]*/
.quickr-title {
  @apply text-amber-600 font-bold tracking-widest text-xl mb-4;
}
.quickr-input {
  @apply text-center text-2xl font-extrabold bg-transparent border-4 border-double 
         border-amber-600 text-amber-600 font-mono py-3 px-6 rounded-lg tracking-[0.25em] 
         placeholder-amber-600 placeholder-opacity-70 focus:outline-none;
}
.quickr-button {
  @apply text-amber-600 hover:text-amber-400 font-mono text-lg transition;
}

@keyframes quickr-pulse {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(255, 191, 0, 0.5),
      inset 0 0 10px rgba(255, 191, 0, 0.5);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 191, 0, 0.9),
      inset 0 0 20px rgba(255, 191, 0, 0.9);
    transform: scale(1.05);
  }
}

@keyframes quickr-burst {
  0% {
    transform: scale(0.8);
    filter: drop-shadow(0 0 0 rgba(132, 255, 0, 0));
  }
  50% {
    transform: scale(1.3);
    filter: drop-shadow(0 0 25px rgba(132, 255, 0, 0.9));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 15px rgba(132, 255, 0, 0.7));
  }
}
