.quickr-panel {
  @apply border-4 border-dashed border-amber-600 rounded-lg 
         bg-transparent
         flex flex-col items-center justify-center;
}
/*shadow-[0_0_15px_rgba(255,191,0,0.2)]*/
.quickr-title {
  @apply text-amber-600 font-bold tracking-widest text-xl mb-4;
}
.quickr-input {
  @apply text-center text-2xl font-extrabold bg-transparent border-4 border-double 
         border-amber-600 text-amber-600 font-mono py-3 px-6 rounded-lg tracking-[0.25em] 
         placeholder-amber-600 placeholder-opacity-70 focus:outline-none;
}
.quickr-button {
  @apply text-amber-600 hover:text-amber-400 font-mono text-lg transition;
}
